extends layout

block content
  h1= title
  p Welcome to #{title} the time is #{time}
  p This is a website that I'd like to make into a donation platform similar to IFTTT. I first thought of the idea one day when it was snowing in New York. I found myself thinking about all of the homeless people needing to sleep outside in the snow and the cold.
  p I thought to myself that I'd love to be able to donate some amount of money to homeless shelters in NY any time it snowed. After poking around a bit, I wasn't able to find anything that would do this for me, so now I'm working on making it.
