extends layout

block content
  h1= title
  p Welcome to #{title} the time is #{time}
  p This is a website that I'd like to make into a donation platform similar to IFTTT
  p
    a(href='/twitter_search/') Conduct twitter searches here
  p
    a(href='/weather_search/') Conduct weather searches here
